@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rubik:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

/* CONSTANTS  */
:root {
  --main-bg-color: #080707;
  --accent-color-primary: #b4970b;
  --accent-color-secondary: #053724;
  --accent-color-third: #b4242b;
  --accent-color-shadow: #080707;

  --color-pink: #ff007c;
  --color-orange: #f75146;
  --color-green: #1c5e45;
  --color-darkgreen: #053724;
  --color-mustard: #b4970b;
  --color-red: #b4242b;
  --background-image: "./../assets/img/textureLow.png";
  background-size: contain;
  --font-headings: "Staatliches", sans-serif;
  --font-body: "Rubik", sans-serif;
  --font-body-color: black;
  --padding: 1.5rem;
}

/* GET RID OF TWINE STYLES */
#story {
  margin: 0;
}

#passages {
  max-width: 100%;
}

#story a.link-external:after {
  content: "";
}

button,
.inline-btn-wrapper > a {
  background-color: var(--accent-color-primary);
  background-image: url("./../assets/img/btn-bg.jpg");
  background-size: contain;
  color: black;
  font-weight: 500;
  font-size: 2rem;
  border: black 2px solid;
  border-radius: 3px;
  font-family: var(--font-body);
  text-transform: uppercase;
  padding: 5px;
  box-shadow: var(--accent-color-shadow) 4px 4px;
}

button:hover {
  background-color: var(--accent-color-third);
  border: black 2px solid;
  color: black;
}

button:focus,
.inline-btn-wrapper > a {
  transform: translate(2px, 2px);
  box-shadow: var(--accent-color-shadow) 1px 1px;
}

a {
  color: var(--accent-color-secondary);
}

a:active {
  background-color: var(--accent-color-third);
}

a:hover {
  color: #fff;
}

#story a.link-external:after {
  content: "";
}

#story {
  margin: 0;
}

/* GENERAL STYLES */
body {
  font-size: 1.6rem;
  font-family: var(--font-body);
  font-weight: 500;
  overflow: scroll;
  background: var(--main-bg-color);
  background-image: url("./../assets/img/textureLow.jpg");
  background-size: contain;
  /* padding: 1.5rem */
  color: var(--font-body-color);
  display: flex;
  flex-direction: column;
  transition: all 1s cubic-bezier(0.2, 0.8, 0.3, 0.7) 0s;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
  margin-block-end: 0;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.6rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
}

.header-item > h1 {
  font-size: 2rem;
}

.header-item > h3.subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-body);
  margin-block-end: 2rem;
}

main {
  padding: var(--padding);
  min-height: 70vh;
  margin-block-end: 10rem !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

main > #mount {
  width: 100%;
}

/* inline button  */

.inline-btn-wrapper {
  display: inline-block;
  margin: 4px 5px;
}

/* footer  */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  padding: var(--padding);
  width: 100%;
  background-color: var(--main-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-wrapper:last-child {
  display: flex;
  align-items: flex-end;
}

.nav-item {
  margin-block-end: 1rem;
}

.nav-item > a {
  color: var(--accent-color-primary);
}

.nav-item > a > img {
  width: 25px;
}

.nav-item:last-child {
  margin-block-end: 0;
}

.nav-item > button {
  font-size: 1.6rem;
}

.hide {
  display: none;
  opacity: 0;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.menu-wrapper > button {
  margin-inline-end: 10px;
  margin-block-end: 25px;
}

#result {
  margin-block-end: 3rem;
  font-size: 3rem;
  text-align: center;
}

textarea {
  min-width: 60vw;
}

.detector {
  width: 50%;
}

.spinning {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MAP */
.map {
  width: 100%;
  /* height: 60vh; */
  border: 0;
  margin: auto;
}

.gm-style .directions-card {
  display: none !important;
}

@media screen and (min-width: 450px) {
  .map {
    max-width: 60vw;
    /* height: 50vh; */
    border: 0;
  }
}

/* LANDING  */
main.landing {
  align-items: center;
  height: 100vh;
}

main.landing > h1 {
  text-align: center;
  margin-block-end: 3rem;
}

/* INSTRUCTIONS  */

header.standard {
  justify-content: left;
}
header.standard > .header-item > h3.subtitle {
  text-align: left;
}

#passage-beginning > main > .menu-wrapper {
  flex-direction: column;
}

main.instructions {
  justify-content: flex-start;
}
main.instructions > h2 {
  margin-block-end: 3rem;
}

main.instructions > #mount > p > .link-image > img,
main.instructions > p > .link-image > img {
  width: 35px;
  margin: 0 10px;
}

main.story > #mount > p > .link-image > img {
  width: 25px;
  margin: 0 10px;
}

.header-item > .multiple-icon-wrapper {
  justify-content: flex-start;
}

.multiple-icon-wrapper > .multiple-icon-item > img,
.caution > img {
  width: 30px;
  margin: 0 10px;
  margin-block-end: 0.5rem;
}

.caution > p {
  font-size: 1.3rem;
  display: inline;
  font-style: italic;
}

main.instructions > #mount > p,
main.instructions > p {
  /* background-color: var(--accent-color-secondary); */
  padding: 6px 8px;
  border-radius: 10px;
  /* border: var(--font-body-color) 0.5px solid; */
  color: var(--font-body-color);
  width: fit-content;
}

main.instructions > p.amenities {
  background-color: transparent;
  padding: inherit;
  border-radius: inherit;
  border: inherit;
  color: var(--font-body-color);
  width: fit-content;
  text-align: right;
}

span.char-name {
  font-weight: 600;
  font-size: 2rem;
  /* text-transform: uppercase; */
}

/* END  */

main.end {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.option-wrapper {
  display: flex;
  flex-direction: column;
}

.option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5f9ea082;
  padding: 0.8rem;
  margin-block-end: 2rem;
}

.option-info-wrapper > p {
  margin-block-end: 0;
}

/* LOFI AR */

main.ar {
  justify-content: flex-start;
}

header.ar {
  background-color: var(--color-purple);
  justify-content: space-between;
  /* flex-direction: column; */
}

header.ar > .nav-wrapper > .nav-item > h2 {
  font-size: 1.8rem;
  font-size: 2.2rem;
  max-width: 95%;
}

header.ar > .nav-wrapper > .nav-item > p.comment {
  font-size: 1.3rem;
}

.ar-option-wrapper {
  display: flex;
  flex-direction: column;
}

.ar-option {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
}

.ar-imgs-container {
  position: relative;
  width: 100%;

  min-height: 50vh;
}

main.ar.portrait > .ar-imgs-container {
  min-height: 60vh;
}

.ar-img-wrapper,
.hidden-img-wrapper {
  max-height: 50vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.ar-img-wrapper > img,
.hidden-img-wrapper > img,
.static-img-wrapper > img {
  /* height: 100%; */
  object-fit: cover;
}

.ar-img-wrapper.transparent,
.hidden-img-wrapper.transparent,
.static-img-wrapper.transparent {
  opacity: 0;
  /* height: 0; */
}

#log {
  height: 200px;
  width: 600px;
  overflow: scroll;
}

footer.ar > .nav-wrapper > .nav-item > #mount > span {
  display: block;
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .ai-option-wrapper {
    display: flex;
    flex-direction: row;
  }
}

@keyframes dissolve {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
.dissolve {
  animation: 2s dissolve 0.5s ease-out forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.appear {
  animation: 2s appear 0.5s ease-out forwards;
}

/* LONG AUDIO / STORY  */

header.story {
  background-image: var(--background-image);
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: flex-start;
}

header > #headerinstmount > p.comment {
  font-size: 1.6rem;
  max-width: 80%;
  margin: auto;
}

main.story {
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding-top: 0;
}

main.story > #mount > p.comment,
.nav-item > #mount > span.comment,
p.comment {
  background-color: var(--accent-color-secondary);
  padding: 6px 8px;
  border-radius: 10px;
  border: black 0.5px solid;
  color: var(--font-body-color);
  width: fit-content;
}

p.comment.center,
#headerinstmount > p.comment {
  text-align: center;
}

main.story.captions {
  justify-content: center;
}

/* PLAY / PAUSE FOOTER  & HEADER */

header > .titleWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header > .titleWrapper > h2 {
  text-align: center;
  max-width: 80%;
}

#audioText {
  text-align: center;
  max-width: 70%;
}

#audioText > .macro-type > span {
  background-color: var(--accent-color-secondary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

footer > .nav-wrapper.playpause-wrapper {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playpause.playhighlight {
  background-color: var(--accent-color-third);
}

main.story > #caption {
  z-index: 9999;
  color: var(--font-body-color);

  padding: 0.5rem;
}

main.story > .mount > p {
  text-align: center;
}

/* SHOW NOTHING ON A PHONE  */

.comp-warning {
  display: none;
}

@media screen and (min-width: 500px) {
  main {
    display: none !important;
  }
  .comp-warning {
    text-align: center;
    display: inherit;
  }
}

/* PULSE ANIMATION  */
.circle {
  /* width: 35px;
  height: 35px; */
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
  animation: pulse-animation 5s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
  }
}

/* START  */
main.start {
  align-items: center;
}

/* DUPPY DETECTOR  */

.explain {
  opacity: 0;
}

.explain > p {
  text-align: center;
  font-size: 2rem;
}

.duppy-img-container {
  max-width: 70%;
  margin: auto;
  opacity: 0;
}

.duppy-img-container > img {
  border-radius: 40%;
}

/* SCRAMBLE  */

h2.word-us {
  text-align: center;
  width: 100%;
  font-size: 5rem;
}

h2.word-us.smaller {
  font-size: 3.5rem;
}

.code-input {
  display: flex;
}
.code-input > input {
  border: solid 2px black;
  margin: auto;
  margin-block-end: 3rem;
  border-radius: 10px;
  height: 6rem;
  font-size: 1.8rem;
  text-align: center;
  color: black;
}

.code-input > input:focus {
  color: white;
}

#resultbutton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.clue {
  color: var(--accent-color-secondary);
  text-align: center;
}
